.thumb

@ Template paramters: _RD = output register

.equ ConstantValue, EALiterals+0x00
.equ Continue,      EALiterals+0x04

Constant:
	ldr _RD, ConstantValue
	b Continue
	
.ltorg
.align

EALiterals:
	@ WORD Constant
